.dynamicContent {
    position: absolute;
    width: 100%;
    top: 0;
   
  }
  .inner {
    padding: 68px 0 45px;
  }
  .container {
    position: relative;
    z-index: 1;
  }
  h3 {
    line-height: 25px;
    color: goldenrod;
    margin-bottom: 15px;
  }
.marg_2 {
    margin-bottom: 18px;
  }
  .marg_1 {
    margin-bottom: 23px;
  }
